
@{
    ViewBag.Title = "ComformOrder";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Conform Order -->
<div class="cart-page conform-order">
    <h2 class="conform-heading">Xác nhận đơn hàng</h2>
    <div class="conform-img">
        <img src="~/assets/img/order-confirmed.png" alt="">
    </div>
    <p class="conform-content">Đơn hàng của bạn đã được xác nhận. Chúng tôi sẽ giao hàng cho bạn trong thời gian sớm nhất.</p>
    <a href="@Url.Action("Index", "Home")" class="home-back">VỀ TRANG CHỦ</a>
</div>

